# Скомпилированные файлы (бинарники) для C++
*.o
*.out
*.exe

# Настройки VS Code
.vscode/

# Скрытые файлы системы
.DS_Store
Thumbs.db

# Python (кэш)
__pycache__/
*.pyc

# Тестовые .txt-файлы
*.txt
*.dat
